#wd-account-navigation a {
    display: block;
    font-size: 1.25rem;
  }
  
  #wd-account-navigation a:first-child {
    border-left: 3px solid black;
    padding-left: 0.5rem;
  }
  
  #wd-account-navigation a + a {
    color: red;
  }